*{
    padding: 0;
    margin: 0;
 
}
/* nav-area start */

.header-area{
    width: 100%;
    height: auto;
    background-color:green;
    position: fixed;
   padding-top: 10px;
}
.nav-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo-area{
    width: 80px;
}
.logo{
    width: 100%;
    margin-left: 90px;
    
    
}

.menu a{
    margin-right: 90px;
    font-size: 25px;
    color: azure;
    text-decoration: none;
}
.menu a:hover{
    color: black
    
}


/* nav-area end*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}


.text-area{
    width: 100%;
    height: 100vh;
    background-image:url(img/burger-tasty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  

   
    
}
.text-area h1{
margin-left: 60px;
color: white;
padding-top: 130px;
line-height: 1.5em;
font-size: 60px;
font-weight: 700;
font-style: italic;
margin-bottom: 90px;

}
.text-area a{
    margin-left: 90px;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 700;
    background-color: red;
    padding: 10px 30px;
    border-radius: 10px;

    
}
.text-area a:hover{
    background-color: blue;
}
/* =======================
    second-section
==========================
*/
.second-section{
display: flex;
padding-top: 100px;


}
.img-area{
width: 100%;
height: 70vh;
padding: 0 10px;





}
.img-1{
    width: 100%;
    height: 50vh;
  border-radius: 10px;
  margin-bottom: 30px;
  border: 2px solid red;
}
.text-area-2{
    text-align: center;
    background-color: thistle;
    font-size: 25px;
    font-weight: 700;
   
}
/*===================
third-section
=====================
*/
.third-text-area{
    color:#add;
    font-size: 60px;
    text-align: center;
   border-bottom: 3px solid #add;
   margin: 0 80px;
   padding-bottom: 40px;
   text-shadow: 5px 10px 5px blue;
       }
.text-area-3{
width: 100%;
height: 20vh;



}
.text-area-3 ul {
 text-align: center;
 padding-top: 50px;

}
.text-area-3 ul a{
    text-decoration: none;
    border: 2px solid blue;
    color: black;
    font-size: 22px;
    margin: 0 25px;
    padding: 10px 20px;
    background-color:wheat;
    border-radius: 25px;

}
.text-area-3 ul a:hover{
    background-color: lightblue;
}
 


/* --------------- */
.container{
   display: grid;
   grid-template-columns: repeat(5 ,1fr);
   gap: 20px;
    padding-top: 100px;

}
.third-img{
width: 100%;
height: 50vh;
background-image: url(img/classic.jpg);
background-size: cover;
background-repeat: no-repeat;
border-radius: 10px;
box-shadow: 5px 5px 15px;

}
.third-img .text{
    text-align: center;
    padding-top: 380px;
}
.button-area{
    text-align: center;
    margin-top: 200px;
}

.button-area ul a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 700;
    background-color: red;
    padding: 10px 30px;
    border-radius: 10px;
}
.button-area a:hover{
    background-color: blue;
}
/*===================
third-section-end
=====================
*/

.background{
    width: 100%;
    height: 50vh;
    background-size: cover;
    margin-top: 200px;
    margin-bottom: 50px;
    background-image:url(img/back\ last.jpg);
}
.main-icon-div{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    margin-bottom: 70px;
    
}
.fa-solid{
    font-size: 30px;
   
    
}
.fa-brands{
    font-size: 30px;
   

}
.icon-text-1{
   margin-top: 30px;

 
  
   
}

.pragraph-text-1{
  padding-top: 20px;

}


/* -------------------------
4th section
/* -------------------------*/ 
.bg{
    width: 100%;
    margin-bottom: 80px;
    height: 100vh;
    background-image: url(img/bg-final.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* ---------------- */
.footer-main{
width: 100%;
height: 45vh;
background-color: black;

}
.row{
    display:grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 10px;
    
   
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    line-height: 1.5em;
}
.footer-col a:hover{
    color: blue;
}
h4{
    color: white;
    margin-bottom: 30px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;

}

.footer-col{
    margin-top: 90px;
    padding: 0px 100px;

}
.social-links .fa-brands {
    margin-top: 40px;
   padding-right: 10px;
}
.social-links .fa-brands:hover{
    color:lime;
}








